@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", Inter, "Noto Sans CJK SC",
    sans-serif;
  font-size: 15px;
  --monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
    monospace;
}

body.bp5-dark {
  background-color: #0d1117;
}
.bp5-dark .bp5-navbar {
  background-color: #161b22;
}
